.main-login{
    width:70%;
    display: block;
    margin:auto;
    max-width:max-content;
    background-color:aquamarine;
    color: black;
    padding:10px;
    border:2px solid black;
    border-radius:20px;
    height:420px;
    margin-top:70px;
}
.wrap-main-login{
    height: 500px;
}
Button{
    border: 3px solid rgb(20, 98, 146);
}

.btn-class{
    display: grid;
    padding:12px;
}
.btn-class button{
    margin: 1px;
}